body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  position: relative;
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1400px;
  padding: 50px;
  margin: 0 auto;
}

.line {
  margin: 15% auto 0 auto;
width: 500px;
height: 1px;
background-color: white;
}